<div class="wrapper">
  <div id="section" class="main-fragment">
    <section class="section section-big parallax bg1">
      <h1>SERVICES</h1>
    </section>
    <section class="section static">
      <h1>Boring</h1>
    </section>
    <section class="section section-big parallax bg2">
      <h1>SO FWUFFY AWWW</h1>
    </section>
    <section class="section static">
      <h1>Boring</h1>
    </section>
    <section class="section parallax bg3">
    </section>
  </div>
  <div id="advantages" class="main-fragment"></div>
  <div id="programming-languages" class="main-fragment"></div>
</div>
