<div class="parallax">
  <div class="parallax__group first_group">
    <div class="parallax__layer parallax__layer--back first_layer_back">
    <video controls poster="transparent.png">
      <source src="http://treehouse-code-samples.s3.amazonaws.com/html-video-and-audio/bridge.mp4" type="video/mp4">
    </video>
    <h4>We love we we do</h4>

    </div>
  </div>

  <div class="parallax__group services-group">
    <div class="parallax__layer parallax__layer--back">
      <h3 class="services">Services</h3>
      <div class="title3"></div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="floating-card">
        <h5>STAFF AUGMENTATION</h5>
        <p>Innovation requires great minds working together. Our developers, quality analysts, and designers are ready to work with, complement, and boost our customers’ teams, letting them pursue more aggressive deadlines and overcome tricky obstacles.</p>
      </div>
    </div>
  </div>

  <div class="parallax__group services-group">
    <div class="parallax__layer parallax__layer--back">
      <div class="title3"></div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="floating-card">
        <h5>Specialized Services</h5>
        <p>Innovation is more than having a great software product. It requires you to constantly be on the lookout for new technologies, opportunities, and features to be implemented. Our teams can cover your R&D regarding:
Mobile App Development.
Internet of Things.
Augmented Reality & Virtual Reality. Big Data & Machine Learning.</p>
      </div>
    </div>
  </div>

  <div class="parallax__group services-group">
    <div class="parallax__layer parallax__layer--back">
      <div class="title3"></div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="floating-card">
        <h5>Product Development</h5>
        <p>Innovation requires real problems to be solved with ingenious solutions. Perhaps your company knows what it wants to do but is unsure of how to do it. We specialize in helping companies achieve their digital transformation goals.
After working for different industries we’ve deve- loped a series of software components that let us be agile and efficient. We’re also flexible regarding the Intellectual Property of these projects: we can work as a joint venture, or your company can keep the rights to what is developed</p>
      </div>
    </div>
  </div>

  <!-- <div class="parallax__group first_group">
      <div class="parallax__layer parallax__layer--back first_layer_back">
        <h1>Advantages</h1>
      </div>
    </div> -->
<div class="advantages-color">
  <div class="parallax__group larger-group">
    <div class="parallax__layer parallax__layer--back parallax__layer--larger">
      <h3>Advantages</h3>
      <div class="adv1">location</div>
      <div class="adv2">flexibility</div>
      <div class="adv3">cultural fit</div>
    </div>
  </div>

  <div class="parallax__group larger-group ">
    <div class="parallax__layer parallax__layer--back parallax__layer--larger languages-larger">
      <div class="languages">
        <h3>Programming Languages</h3>
        <div class="icons">
          <i class="material-icons">favorite</i>
          <i class="material-icons">settings_cell</i>
        </div>
        <div class="icons">
          <i class="material-icons">settings_input_antenna</i>
          <i class="material-icons">supervisor_account</i>
        </div>
        <div class="icons">
          <i class="material-icons">bug_report</i>
          <i class="material-icons">alarm_add</i>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax__group larger-group who-we-are">
    <div class="parallax__layer parallax__layer--back parallax__layer--larger">
      <h3>Who we are</h3>
    </div>
    <div class="parallax__layer parallax__layer--base who-we-are-card">
      <div class="floating-card">This is a card</div>
    </div>
  </div>
</div>
  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--back parallax__layer--larger">
      <h3>FOOTER</h3>
    </div>
  </div>
</div>
