<div class="parallax">
  <div class="parallax__group first_group">
    <div class="parallax__layer parallax__layer--back first_layer_back">
    <video controls poster="transparent.png">
      <source src="http://treehouse-code-samples.s3.amazonaws.com/html-video-and-audio/bridge.mp4" type="video/mp4">
    </video>
    <h4>We love we we do</h4>

    </div>
  </div>

  <div class="parallax__group services-group">
    <div class="parallax__layer parallax__layer--back">
      <h3 class="services">Services</h3>
      <div class="title3"></div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="floating-card">STAFF AUGMENTATION</div>
    </div>
  </div>

  <div class="parallax__group services-group">
    <div class="parallax__layer parallax__layer--back">
      <div class="title3"></div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="floating-card">Specialized Services</div>
    </div>
  </div>

  <div class="parallax__group services-group">
    <div class="parallax__layer parallax__layer--back">
      <div class="title3"></div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="floating-card">Product Development</div>
    </div>
  </div>

  <!-- <div class="parallax__group first_group">
      <div class="parallax__layer parallax__layer--back first_layer_back">
        <h1>Advantages</h1>
      </div>
    </div> -->

  <div class="parallax__group larger-group">
    <div class="parallax__layer parallax__layer--back parallax__layer--larger">
      <h3>Advantages</h3>
      <div class="adv1">location</div>
      <div class="adv2">flexibility</div>
      <div class="adv3">cultural fit</div>
    </div>
  </div>

  <div class="parallax__group larger-group ">
    <div class="parallax__layer parallax__layer--back parallax__layer--larger languages-larger">
      <div class="languages">
        <h3>Programming Languages</h3>
        <div class="staff">javascript</div>
        <div class="staff">java</div>
        <div class="staff">java</div>
      </div>
    </div>
  </div>

  <div class="parallax__group larger-group who-we-are">
    <div class="parallax__layer parallax__layer--back parallax__layer--larger">
      <h3>Who we are</h3>
    </div>
    <div class="parallax__layer parallax__layer--base who-we-are-card">
      <div class="floating-card">This is a card</div>
    </div>
  </div>

  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--back parallax__layer--larger">
      <h3>FOOTER</h3>
    </div>
  </div>
</div>
