<div class="parallax">
  <h1>SERVICES</h1>
  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--back">
      <div class="title1">This is the background 1</div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title2">This is the foreground 1</div>
    </div>
  </div>

  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--back">
      <div class="title3">This is the background 2</div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title4">This is the foreground 2</div>
    </div>
  </div>

  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--back">
      <div class="title3">This is the background 3</div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title4">This is the foreground 3</div>
    </div>
  </div>
  <div class="parallax__group larger-group">
    <div class="parallax__layer parallax__layer--base parallax__layer--larger">
      <h3>Base Layer</h3>
      <div class="staff">fgfd</div>
      <div class="staff">fgdffdffd</div>
    </div>
  </div>
</div>