<div class="parallax">
  <div class="parallax__group first_group">
    <div class="parallax__layer parallax__layer--back first_layer_back">
      <h1>We love we we do</h1>
    </div>
  </div>

  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--back">
      <h3>Services</h3>
      <div class="title3">Services</div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title4">This is the foreground 2</div>
    </div>
  </div>

  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--back">
      <div class="title3">This is the background 3</div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title4">This is the foreground 3</div>
    </div>
  </div>

  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--back">
      <div class="title3">This is the background 4</div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title4">This is the foreground 4</div>
    </div>
  </div>

  <!-- <div class="parallax__group first_group">
      <div class="parallax__layer parallax__layer--back first_layer_back">
        <h1>Advantages</h1>
      </div>
    </div> -->

  <div class="parallax__group larger-group">
    <div class="parallax__layer parallax__layer--back parallax__layer--larger">
      <h3>Advantages</h3>
      <div class="staff">fgfd</div>
      <div class="staff">fgdffdffd</div>
    </div>
  </div>

  <div class="parallax__group larger-group">
    <div class="parallax__layer parallax__layer--back parallax__layer--larger">
      <h3>Programming Languages</h3>
      <div class="staff">fgfd</div>
      <div class="staff">fgdffdffd</div>
    </div>
  </div>

  <div class="parallax__group larger-group">
    <div class="parallax__layer parallax__layer--back">
      <h3>Who we are</h3>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title4">This is a card</div>
    </div>
  </div>

  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--back">
      <h3>FOOTER</h3>
    </div>
  </div>
</div>